
/* LOADING BOX */
.loader { background: url(loader.gif) center center no-repeat #ddd; }

/* IMPORTANT - Change '#photos' to the ID of your gallery list to prevent a flash of unstyled content */
/* GALLERY PANELS */
#photos { 
background-color: #e9e9e9;
border: 1px solid #cccccc;
}


.galleryview {
	text-align:center;
	visibility: hidden;
}


.panel {}
/* PANEL OVERLAY CONTENT */
.overlay {
background-color: #000;
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
.panel .panel-overlay { 
color: white; font-size: 0.8em; text-align: left;
}
.panel .panel-overlay a { color: white; text-decoration: underline; font-weight: bold; }


/* FILMSTRIP */
/* 'margin' will define top/bottom margin in completed gallery */
.filmstrip { margin: 5px; }

/* FILMSTRIP FRAMES (contains both images and captions) */
.frame { }

/* WRAPPER FOR FILMSTRIP IMAGES */
.frame .img_wrap { border: 1px solid #aaa; }

/* WRAPPER FOR CURRENT FILMSTRIP IMAGE */
.frame.current .img_wrap { border-color: #000; }

/* FRAME IMAGES */
.frame img { border: none; }

/* FRAME CAPTION */
.frame .caption { font-size: 11px; text-align: center; color: #888; }

/* CURRENT FRAME CAPTION */
.frame.current .caption { color: #000; }

/* POINTER FOR CURRENT FRAME */
.pointer {
	border-color: #000;
}
